/* $Id: kde.css 5406 2006-11-30 11:28:34Z andrew $ */
div.tree-item td.customIcon {
	background: url("kde/text_left.png") no-repeat 0 50%;
}

div.tree-item-expanded td.customIcon {
	background: url("kde/1downarrow.png") no-repeat 0 50%;
}

div.tree-item-collapsed td.customIcon {
	background: url("kde/1rightarrow.png") no-repeat 0 50%;
}

